APP_ENV=local

#Server
HOST=127.0.0.1
PORT=3100

# Postgres
DB_HOST=167.71.214.47
DB_PORT=5432
DB_USER=carental
DB_PASSWORD=FdxJsQFJUSKuXSdqUpGn
DB_DATABASE=dbCarrental
DB_DIALECT=postgres
DB_STORAGE=

# Postgres
DB_MYSQL_HOST=167.71.214.47
DB_MYSQL_PORT=3306
DB_MYSQL_USER=root
DB_MYSQL_PASSWORD=FdxJsQFFdxJsQFJUSKuXSdqUpGnJUSKuXSdqUpGn
DB_MYSQL_DATABASE=dbXGX
DB_MYSQL_DIALECT=mysql
DB_STORAGE=

#postgres://havaz:H4vaZVi6tnAm@2020@3.1.31.233:5432/dev_havaz
# Mongo
DB_MONGO_HOST = 'mongodb://0.0.0.0:27017/db_carrental?authSource=admin&maxPoolSize=1000'
DB_MONGO_USER = 'root'
DB_MONGO_PASS = FdxJsQFFdxJsQFJUSKuXSdqUpGnJUSKuXSdqUpGn

# REDIS
DB_REDIS_HOST=167.71.214.47
DB_REDIS_PORT=6379
DB_REDIS_USER=root
DB_REDIS_PASSWORD=FdxJsQFFdxJsQFJUSKuXSdqUpGnJUSKuXSdqUpGn
DB_REDIS_DATABASE=db_carrental

# MinIO
MINIO_END_POINT='media.cr.havaz.vn'
MINIO_PORT=443
MINIO_USE_SSL=true
MINIO_ACCESS_KEY='carental'
MINIO_SECRET_KEY='carrental@123'

TOKEN_OF_HAVAZ_SMS=

